@import url("https://fonts.googleapis.com/css2?family=Baloo+2&family=PT+Sans&display=swap");
.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f8f8f8;
  z-index: 999999;
}

.loader {
  width: 28px;
  height: 28px;
  border: 2px dashed #000;
  animation: preloader 2s linear infinite;
  -webkit-animation: preloader 1.6s linear infinite;
}

@keyframes preloader {
  0% {
      transform: rotate(90deg);
  }

  25% {
      transform: rotate(360deg);
  }

  50% {
      transform: rotate(-90deg);
      border-top: 2px dashed #f8f8f8;
  }

  75% {
      transform: rotate(-360deg);
  }

  100% {
      transform: rotate(90deg);
  }
}

h4 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  font-weight: 200;
  opacity: 0.5;
  font-family: sans-serif;
  color: #fff;
}

::-webkit-scrollbar {
  width: 1.5rem;
  background-color: var(--primaryPlan);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border: 2px solid transparent;
  background-clip: content-box;
}

/* ::-webkit-scrollbar-thumb:hover {
    border: 2px solid transparent;
    background-clip: content-box;
} */
::-webkit-scrollbar-thumb:active {
  background: var(--primary);
}

.add-shadow {
  box-shadow: 0 3px 3px #000;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

body {
  background: #f8f8f8;
}

a {
  text-decoration: none;
  letter-spacing: 2px;
  cursor: pointer;
  font-family: "Baloo 2", cursive;
}

button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: "Baloo 2", cursive;
  letter-spacing: 2px;
}

li {
  list-style: none;
  display: inline;
}

input {
  border: none;
  outline: none;
  background: transparent;
  font-family: "Baloo 2", cursive;
  letter-spacing: 2px;
}

h1 {
  display: block;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: "Baloo 2", cursive;
  cursor: default;
}

h2 {
  display: block;
  text-align: center;
  font-size: 2.6rem;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: "Baloo 2", cursive;
}

h3 {
  display: block;
  text-align: center;
  font-size: 2.4rem;
  letter-spacing: 2px;
  font-weight: bold;
  font-family: "Baloo 2", cursive;
}

h4 {
  display: block;
  text-align: center;
  font-weight: 2rem;
  letter-spacing: 2px;
  font-weight: bold;
  font-family: "Baloo 2", cursive;
}

p {
  display: block;
  text-align: center;
  font-size: 1.8rem;
  letter-spacing: 2px;
  line-height: 1.5;
  color: var(--para);
}

:root {
  --primary: #002036;
  --primaryDark: #000b12;
  --primaryPlan: #12272821;
  --acent: #009dff;
  --acentDark: #006cb4;
  --acentPlan: #006cb125;
  --para: #000000c2;
}

.header-section {
  width: 100%;
  margin: auto;
  position: relative;
  z-index: 99999;
}

.navbar-section {
  width: 100%;
  height: 4rem;
  background: var(--primary) !important;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
}

.navbar-section .brand {
  filter: invert(100%);
  display: inline;
  width: 24px;
  margin-top: 5px;
}

.navbar-section .brand img {
  width: 100%;
}

.navbar-section .brand img:hover {
  filter: invert(25%);
}

.navbar-section .list {
  display: inline;
}

.navbar-section .list .list-items a {
  font-size: 2.2rem;
  color: #fff;
  margin-right: 3.5rem;
  font-weight: bold;
  transition: transform 0.2s cubic-bezier(0.374, 0.019, 0.035, 1.2);
}

.navbar-section .list .list-items a i:hover {
  transform: scale(1.2);
}

.navbar-section .list .list-items a:hover {
  color: aqua;
}

.navbar-section .menu {
  display: none;
  cursor: pointer;
}

.navbar-section .menu .menu-bar {
  display: block;
  width: 2.6rem;
  height: 3px;
  margin: 5px auto;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}

.hero-section {
  width: 100%;
  margin: auto;
  margin-top: 12rem;
  padding: 1rem 2rem;
}

.hero-section h1 {
  color: var(--acentDark);
}

.hero-section p {
  max-width: 720px;
  margin: auto;
  padding: 5px 1rem;
  border-left: 1px solid var(--acentDark);
  border-right: 1px solid var(--acentDark);
  background: var(--acentPlan);
}

.post {
  max-width: 1220px;
  margin: auto;
  display: block;
  text-align: center;
  margin-top: 10rem;
  color: #f8f8f8;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: var(--acentDark);
}

.data-section {
  max-width: 1280px;
  margin: auto;
  margin-top: 4rem;
  padding: 1rem 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 3rem;
  align-items: stretch;
}

.data-section .data-btn {
  padding: 1rem;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primaryPlan);
  box-shadow: 0 0 5px #000;
  border: 1px solid var(--primary);
  position: relative;
  transition: transform 0.5s cubic-bezier(0.374, 0.019, 0.035, 1.1);
}

.data-section .data-1::before {
  content: "Entity";
  font-size: 3.5rem;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.918);
  background-color: var(--primary);
  width: 100%;
  padding: 1rem 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-section .data-2::before {
  content: "Entity";
  font-size: 3.5rem;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.918);
  background-color: var(--primary);
  width: 100%;
  padding: 1rem 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-section .data-3::before {
  content: "Editer";
  font-size: 3.5rem;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.918);
  background-color: var(--primary);
  width: 100%;
  padding: 1rem 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-section .data-4::before {
  content: "25 Preloader";
  font-size: 3.5rem;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.918);
  background-color: var(--primary);
  width: 100%;
  padding: 1rem 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-section .data-btn:hover {
  transform: scale(1.1);
  z-index: 999;
}

.data-section .data-btn img {
  width: 75%;
  opacity: 0.7;
}



.code-para {
  max-width: 80rem;
  margin: auto;
  margin-top: 10rem;
  padding: 1rem 1.6rem;
  background-color: var(--acentPlan);
  text-align: center;
  border-left: 1px solid var(--primaryDark);
  border-right: 1px solid var(--primaryDark);
}

.code-para span {
  color: var(--primary);
  font-weight: bold;
}

.code-editer {
  width: 100%;
  margin: auto;
  margin-top: 1rem;
  padding: 1rem 2rem;
}

.code-editer a {
  display: block;
  text-align: center;
  font-size: 2.4rem;
  width: 200px;
  margin: auto;
  margin-top: 1rem;
  color: #fff;
  background: var(--primary);
  border-radius: 80px;
  box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.5333333333);
}

.code-editer a:hover {
  background: var(--primaryDark);
  box-shadow: none;
}

.content {
  max-width: 80rem;
  margin: auto;
  height: 45rem;
  box-shadow: 0 0 5px #000;
}

.content iframe {
  width: 100%;
  height: 100%;
}

.form-section {
  width: 100%;
  margin: auto;
  margin-top: 10rem;
  padding: 1rem 2rem;
}

.form h1 {
  max-width: 475px;
  margin: auto;
  background: var(--acentDark);
  color: #fff;
}

.form-section .form {
  max-width: 475px;
  margin: auto;
  padding-bottom: 4rem;
  background: var(--acentPlan) !important;
}

.form-section .form .error {
  font-size: 1.4rem;
  letter-spacing: 2px;
  display: block;
  color: #000;
}

.form-section .form .name-error {
  margin-left: 5rem;
}

.form-section .form .email-error {
  margin-left: 5rem;
}

.form-section .form .msg-error {
  margin-left: 8rem;
}

.form-section .form .btn-error {
  text-align: center;
  margin-top: 3rem;
}

.form-section .form input {
  display: block;
  width: 85%;
  height: 4rem;
  margin: auto;
  margin-top: 3rem;
  padding: 0 1rem;
  font-size: 1.8rem;
  color: var(--primaryDark);
  border: 1px solid var(--primary);
}

.form-section .form .Massage {
  display: block;
  width: 75%;
  height: 10rem;
  margin: auto;
  margin-top: 3rem;
  padding: 2rem 1rem;
  font-size: 1.8rem;
  letter-spacing: 2px;
  color: var(--primaryDark);
  border: 1px solid var(--primary);
  outline: none;
  background: transparent;
  resize: none;
}

.form-section .form input:focus,
.form-section .form .Massage:focus {
  border-left: 2px solid var(--primaryDark);
}

.form-section .form .submit-btn {
  display: block;
  text-align: center;
  font-size: 2.4rem;
  width: 60%;
  margin: auto;
  margin-top: 5px;
  color: #fff;
  background: var(--primary);
  border-radius: 80px;
  box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.5333333333);
}

.form-section .form .submit-btn:hover {
  background: var(--primaryDark);
  box-shadow: none;
}

.footer-section {
  width: 100%;
  margin: auto;
  margin-top: 10rem;
  padding: 2rem 2rem;
  background: var(--acent);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-section p {
  max-width: 800px;
  margin: 1rem auto;
  display: block;
  text-align: center;
}

.footer-section .social-icon {
  width: 100%;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-section .social-icon a i {
  font-size: 3rem;
  margin: 0 2rem;
  color: var(--primaryDark);
  position: relative;
  transition: transform 0.5s cubic-bezier(0.374, 0.019, 0.035, 5);
}

.footer-section .social-icon a i:hover {
  transform: scale(1.4);
}

.codshub {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 2px;
  padding: 1rem 0;
  font-weight: bold;
  color: #000;
  background-color: var(--acent);
  font-family: "PT Sans", sans-serif;
}

.codshub span {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: "PT Sans", sans-serif;
}

@media (max-width: 720px) {
  html {
    font-size: 58.5%;
  }
  .header-section .navbar-section .menu {
    display: block;
  }
  .navbar-section .menu .menu-bar {
    display: block;
  }
  .navbar-section .menu.active .menu-bar:nth-child(2) {
    opacity: 0;
  }
  .navbar-section .menu.active .menu-bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .navbar-section .menu.active .menu-bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navbar-section .list {
    position: fixed;
    left: -100%;
    top: 4rem;
    flex-direction: column;
    background-color: var(--primary);
    width: 100%;
    height: 50vh;
    padding: 2rem 0;
    padding: 0 0 0 3rem;
    text-align: left;
    transition: 0.3s;
  }
  .navbar-section .list .list-items {
    display: block;
    text-align: left;
    margin: 3rem 0 0 3rem;
    border-left: 1px dotted #fff;
  }
  .navbar-section .list .list-items a i {
    font-size: 3.5rem;
    margin-left: 1.5rem;
  }
  .navbar-section .list .list-items a i:hover {
    transition: transform 0.5s cubic-bezier(0.374, 0.019, 0.035, 3);
  }
  .navbar-section .list .list-items a i:hover {
    transform: scale(1.5);
  }
  .navbar-section .list.active {
    left: 0;
  }
  .data-section .data-btn img {
    width: 45%;
  }
}
/*# sourceMappingURL=main.css.map */